# These do not exist in 2.13.x and so avoid them popping up when switching from main
integration-tests-jvm/xml-grouped/
integration-tests/dataformats-json-grouped/
integration-tests/xml-grouped/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IDEA
.idea
*.ipr
*.iml
*.iws

# IDEA lsp plugin
lsp/

# NetBeans
nb-configuration.xml

# KDE
.directory

# OSX
.DS_Store

# VS CODE
.vscode
*.code-workspace
.factorypath

# Vi/Vim
*.swp

# Quarkus
quarkus.log*

# Camel Quarkus Performance Regression Reports
perf-regression-report@*.txt
